# These lines impact repository security
/.github/CODEOWNERS        @nick-mobilecoin @jcape @cbeck88 @samdealy
/.github/settings.yml      @nick-mobilecoin @jcape @cbeck88 @samdealy

# These lines prevent reviews of trivial changes blocking on particular users
/.gitignore
/.markdownlint-cli2.jsonrc
/LICENSE
/README.md

# These lines represent original authors and new maintainers
/.github                   @nick-mobilecoin @jcape @cbeck88 @samdealy
/rust                      @nick-mobilecoin @jcape @cbeck88 @samdealy
