# These lines impact repository security
/.github/CODEOWNERS        {{ cookiecutter.owners }}
/.github/settings.yml      {{ cookiecutter.owners }}

# These lines prevent reviews of trivial changes blocking on particular users
/.gitattributes
/.gitconfig
/.gitignore
/.markdownlint-cli2.jsonrc
/CHANGELOG.md
/Cargo.toml
/Cargo.lock
/LICENSE
/README.md
/deny.toml
/rust-toolchain.toml
/rustfmt.toml
